<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="layouts.css" rel="stylesheet">
	<title>Layouts</title>
</head>

<body>
	<section class="container basis-numero-container">
		<div></div>
		<div class="item column" style="text-align: left">logo</div>
		<div class="item2 column">Navigation</div>
		<div class="item3" font-size=""><span>Header/Banner</span></div>
		<div class="item4"><span>Side Body</span></div>
		<div class="item5"><span>Bar Area</span></div>
		<div class="item6">Footer</div>
	</section>
	<br>
	<br>
	<section class="container basis-numero-container">
		<div class="item">Logo Navigation</div>
		<div class="item3"><span>Header/Banner</span></div>
		<div class="item2">Intro TextArea</div>
		<div class="item7"><span class="text3">Box 1</span></div>
		<div class="item7"><span class="text3">Box 2</span></div>
		<div class="item7"><span class="text3">Box 3</span></div>
		<div class="item">Footer</div>
	</section>
	<br>
	<br>

	<section class="container basis-numero-container">
		<div class="item">Logo</div>
		<div>Side bar Navigation</div>
		<div class="item3"><span>Header/Banner</span></div>
		<div class="item2">Body Area</div>
		<div class="item">Footer</div>
	</section>
	<br>
	<br>
	<section class="container basis-numero-container">
		<div class="item"><span class="logo">Logo</span><span>Navigation</span></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item8"></div>
		<div class="item7"><span class="text3">Box 1</span></div>
		<div class="item7"><span class="text3">Box 2</span></div>
		<div class="item7"><span class="text3">Box 3</span></div>
		<div class="item">Footer</div>
	</section>


</body>

</html>